.app {
width: 490px;
margin: 0 auto;
padding-top: 50px;
justify-content: center;
}
.app button {
	color: rgb(130, 130, 130);
	margin: 35px 0;
	padding: 10px 50px;
	background: none;
	border: 1px solid rgb(23, 188, 89);
	border-radius: 3px;
}