/* reset styles -------------------------------------- */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
input {
	border: 1px solid #ccc;
}

/* set default parameters  -------------------------------------- */
 * {
	font-family: Roboto;
	font-weight: 400;
	font-size: 1em;}
* h2 {
	font-size: 1em;
}
* p {
	font-size: 0.7em;
}  
